{% extends 'master.html' %}
{% load static %}

{% block title  %} my orders {% endblock %}

{% block content  %}

<h2 class="pro1">My Orders </h2> <br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% for x in order %}
            <div class="row my-2" >
                <div class="col-sm-4">
                    <div class="inbox1">
                        <img src="\media\{{x.order_image}}" alt="" class="src" height="100px">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="span1">
                        <span>{{x.order_name}}</span>
                    </div>
                <div class="span1">
                    <span>price = {{x.order_price}}</span>
                </div>    
                <div class="span1">
                    <span>Quantity: {{x.order_qty}}</span>
                </div>
                </div>
                <div class="col-sm-4">
                    <div class="span1">
                        <span>{{x.order_amount}}</span>
                    </div>
                    <br>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}